.table-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
}

.table-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  -webkit-box-shadow: rgba(2,0,0,0.8) 0px 5px 5px;
}

.alert {
  margin-top: 2%;
  width: 90%;
  margin-left: 5%;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  -webkit-border-radius: 20px;
}

div {
  display: block;
}

*, ::after, ::before {
  box-sizing: border-box;
}

table {
  //max-width: 50%;
  //min-width: 50%;
  margin-top: 2%;
  width: 50%;
  margin-left: 25%;
}

#create {
  float: left!important;
}
