<div class="alert table-error">Warning these rnc were not found</div>

<!--<mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->

<!--  <ng-container *ngFor="let header of displayedColumns" [matColumnDef]="header"  >-->
<!--    <mat-header-cell class="header" *matHeaderCellDef> {{header}} </mat-header-cell>-->
<!--    <mat-cell-->
<!--              [ngClass]="{current: (header=='BSC' && element.BSC!=element['New BSC']) || (header=='CI' && element.CI!=element['New CI']) || (header=='LAC' && element.LAC!=element['NewLAC']),-->
<!--        updated: (header=='New BSC' && element.BSC!=element['New BSC']) || (header=='New CI' && element.CI!=element['New CI']) || (header=='New LAC' && element.LAC!=element['New LAC']) }"-->
<!--              *matCellDef="let element"> {{element[header]}} </mat-cell>-->
<!--  </ng-container>-->

<!--  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
<!--  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
<!--</mat-table>-->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="Rnc">
    <th mat-header-cell *matHeaderCellDef> Rnc Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Rnc}} </td>
  </ng-container>

  <ng-container matColumnDef="button">
    <th mat-header-cell *matHeaderCellDef> create </th>
    <td mat-cell *matCellDef="let element"> <button id="create" mat-raised-button>Create Rnc</button> </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

