<app-header></app-header>

<div class="container">

  <div class="tableComponent">
    <div class="table__panel">

      <app-grid [headers]="headers" [values]="values" [values2]="checkedValues"></app-grid>
<!--      <app-table-clone [dataSource]="dataSource"></app-table-clone>-->

    </div>
  </div>

  <div class="stepper">
    <mat-horizontal-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup">

        <ng-template matStepLabel>Upload file of changes</ng-template>
        <input type="file" name="photo" id="selectedFile" ng2FileSelect [uploader]="uploader"
               (change)="uploader.uploadAll()" style="display: none;"/>

        <div class="controls">
          <div class="controls__inner">
            <div class="controls__btns">

              <mat-form-field class="controls__btns__search">
                <input matInput placeholder="Search Some">
              </mat-form-field>

              <button class="controls__btns__general" mat-raised-button (click)="browse()">Import file</button>
              <button mat-raised-button (click)="validateFile()" [disabled]="visible">Validate file</button>
            </div>

            <div class="next">
              <button id="firstStep" mat-stroked-button color="primary" matStepperNext [disabled]="true">Next</button>
            </div>
          </div>
        </div>

      </mat-step>
      <mat-step [stepControl]="secondFormGroup">

        <ng-template matStepLabel>Download creation commands from terminal</ng-template>
        <div class="controls">
          <div class="controls__inner">
            <div class="controls__btns">

              <mat-form-field class="controls__btns__search">
                <input matInput placeholder="Search Some">
              </mat-form-field>

              <button class="controls__btns__general" mat-raised-button (click)="browse()">Import file</button>
              <button class="controls__btns__general" (click)="downloadFiles()" mat-raised-button>download creation commands from terminal</button>
              <button mat-raised-button>Some action</button>
            </div>

            <div class="controls__btns__navigation">
              <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
              <button mat-stroked-button color="primary" matStepperNext>Next</button>
            </div>
          </div>
        </div>

      </mat-step>
<!--      <mat-step>-->
<!--        <ng-template matStepLabel>Perform modification to terminal</ng-template>-->


<!--        <div class="controls">-->
<!--          <div class="controls__inner">-->
<!--            <div class="controls__btns">-->

<!--              <mat-form-field class="controls__btns__search">-->
<!--                <input matInput placeholder="Search Some">-->
<!--              </mat-form-field>-->

<!--              <button class="controls__btns__browse" mat-raised-button (click)="browse()">Import file</button>-->
<!--              <button mat-raised-button>Some action</button>-->
<!--            </div>-->

<!--            <div class="next">-->
<!--              <button mat-stroked-button color="primary" matStepperPrevious>Back</button>-->
<!--              <button mat-stroked-button color="primary" (click)="stepper.reset()">Reset</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </mat-step>-->
    </mat-horizontal-stepper>
  </div>

</div>

