
#login {
  margin-left: 60%;
  margin-right: 1%;
}

#logout {
  margin-left: 70%;
  margin-right: 1%;
}

.banner {
  width: auto;
}

.floated {
  float: left;
}

#home {
  margin-left: 3%;
}

mat-card-header {
  margin-left: 10%;
}

#file {
  margin-bottom: 5%;
}

mat-toolbar {
  background-color: #f8f9fb;
}

.container--hide {
  display: none;
}
