.split {
  width: 100%;
  height: 100%;
}

/* Control the left side */
.left {
  width: 41.001%;
  margin-left: 9%;
  float: left;
}

/* Control the right side */
.right {
  width: 41.001%;
  margin-right: 9%;
  float: right;
}

.ng-star-inserted {
  background-color: lightblue;
}
