<div class="split">
  <div class="left" >
    <h3>Before changes</h3>
    <br>
    <div *ngFor="let object of objects[0]">
      <div>{{object.name}}</div>
      <div>LAC <mark>{{object.LAC}}</mark></div>
      <div>cId <mark>{{object.cId}}</mark></div>
      <hr>
    </div>
  </div>

  <div class="right">
    <h3>after changes</h3>
    <br>
    <div *ngFor="let object of objects[1]">
      <div>{{object.name}}</div>
      <div>LAC <mark>{{object.LAC}}</mark></div>
      <div>cId <mark>{{object.cId}}</mark></div>
      <hr>
    </div>
  </div>
</div>
